//- which file 
extends base
block content
    .container.my-3
        .row.row-cols-2.justify-content-center
            each product in products
                .col.card.mb-2(style="max-width: 540px;")
                        .row.g-0
                            .col-md-4
                                img.img-fluid.rounded-start(src=`images/product/${product.coverImage}`, alt=`${product.productName} image`)
                            .col-md-8
                                .card-body
                                        h5.card-title=product.productName
                                        p.card-text=product.discription
                                        p.card-text=` Price : ₹ ${product.price}` 
                                        p.card-text=` Replacement In :  ${product.replacmentIn}` 
                                        p.card-text
                                            small.text-muted=`available in ${product.colors} colors`
                                        a.btn(href=`productss/${product.slug}`  ) Details
















